@mixin hero() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 73vh;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: rgb(24, 24, 24);
}

html {
  scroll-behavior: smooth;
}

//Navigation section

.header {
  background: rgba(0, 0, 0, 0.82);
  color: rgb(206, 206, 206);
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 4.5vh;
  .nav {
    display: flex;
    justify-content: space-around;
    width: 55%;
    height: 4.5vh;
    align-items: center;
    :first-child {
      font-size: 20px;
    }
    li {
      list-style: none;
      cursor: pointer;
      &:hover {
        color: rgb(235, 235, 235);
      }
    }
  }
}

//Hero 1 section
.iphone12 {
  @include hero();
  background-color: rgb(249, 249, 249);
  .title {
    padding-top: 45px;
    h1 {
      font-size: 55px;
      padding: 10px;
    }
    p {
      font-size: 25px;
      padding-bottom: 15px;
    }
    a {
      font-size: 19px;
      color: #118fde;
      cursor: pointer;
      &:hover {
        text-decoration: 2px underline;
      }
    }
  }
  .image {
    padding: 10px 0;
    img {
      width: 68%;
    }
  }
}

//Hero 2 section
.iphone12_pro {
  @include hero();
  background-color: black;
  color: rgb(240, 240, 240);
  .title {
    padding-top: 45px;
    h1 {
      font-size: 55px;
      padding: 10px;
    }
    p {
      font-size: 25px;
      padding-bottom: 15px;
    }
    a {
      font-size: 19px;
      color: #118fde;
      cursor: pointer;
      &:hover {
        text-decoration: 2px underline;
      }
    }
  }
  .image {
    padding: 10px 0;
    img {
      width: 50%;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      );
    }
  }
}
