* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #181818;
}

html {
  scroll-behavior: smooth;
}

.header {
  background: rgba(0, 0, 0, 0.82);
  color: #cecece;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.5vh;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
  height: 4.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav :first-child {
  font-size: 20px;
}

.header .nav li {
  list-style: none;
  cursor: pointer;
}

.header .nav li:hover {
  color: #ebebeb;
}

.iphone12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 73vh;
  text-align: center;
  background-color: #f9f9f9;
}

.iphone12 .title {
  padding-top: 45px;
}

.iphone12 .title h1 {
  font-size: 55px;
  padding: 10px;
}

.iphone12 .title p {
  font-size: 25px;
  padding-bottom: 15px;
}

.iphone12 .title a {
  font-size: 19px;
  color: #118fde;
  cursor: pointer;
}

.iphone12 .title a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.iphone12 .image {
  padding: 10px 0;
}

.iphone12 .image img {
  width: 68%;
}

.iphone12_pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 73vh;
  text-align: center;
  background-color: black;
  color: #f0f0f0;
}

.iphone12_pro .title {
  padding-top: 45px;
}

.iphone12_pro .title h1 {
  font-size: 55px;
  padding: 10px;
}

.iphone12_pro .title p {
  font-size: 25px;
  padding-bottom: 15px;
}

.iphone12_pro .title a {
  font-size: 19px;
  color: #118fde;
  cursor: pointer;
}

.iphone12_pro .title a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.iphone12_pro .image {
  padding: 10px 0;
}

.iphone12_pro .image img {
  width: 50%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}
/*# sourceMappingURL=style.css.map */