* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #181818;
}

html {
  scroll-behavior: smooth;
}

.header {
  background: rgba(0, 0, 0, 0.82);
  color: #cecece;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.5vh;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
  height: 4.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav :first-child {
  font-size: 20px;
}

.header .nav li {
  list-style: none;
  cursor: pointer;
}

.header .nav li:hover {
  color: #ebebeb;
}

.iphone12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 73vh;
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 30px;
}

.iphone12 .title {
  padding-top: 45px;
}

.iphone12 .title h1 {
  font-size: 55px;
  padding: 10px;
}

.iphone12 .title p {
  font-size: 25px;
  padding-bottom: 15px;
}

.iphone12 .title a {
  font-size: 19px;
  color: #118fde;
  cursor: pointer;
}

.iphone12 .title a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.iphone12 .image {
  padding: 10px 0;
}

.iphone12 .image img {
  width: 68%;
}

.iphone12_pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 73vh;
  text-align: center;
  background-color: black;
  color: #f0f0f0;
}

.iphone12_pro .title {
  padding-top: 45px;
}

.iphone12_pro .title h1 {
  font-size: 55px;
  padding: 10px;
}

.iphone12_pro .title p {
  font-size: 25px;
  padding-bottom: 15px;
}

.iphone12_pro .title a {
  font-size: 19px;
  color: #118fde;
  cursor: pointer;
}

.iphone12_pro .title a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.iphone12_pro .image {
  padding: 40px 0;
}

.iphone12_pro .image img {
  width: 50%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.appleWatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 73vh;
  text-align: center;
  background-color: black;
  color: #f0f0f0;
  margin-top: 10px;
}

.appleWatch .title {
  padding-top: 45px;
}

.appleWatch .title h1 {
  font-size: 40px;
  padding: 10px;
}

.appleWatch .title span {
  color: #ce4141;
  font-size: 15px;
}

.appleWatch .title p {
  font-size: 25px;
  padding: 15px;
}

.appleWatch .title a {
  font-size: 19px;
  color: #118fde;
  cursor: pointer;
}

.appleWatch .title a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.appleWatch .image {
  padding: 40px 0;
}

.appleWatch .image img {
  width: 60%;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid .singleGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 60vh;
  width: 48.5%;
  text-align: center;
  padding: 10px;
}

.grid .ipadAir {
  background-color: #f9f9f9;
  display: block;
  padding-top: 60px;
  margin: 1% 1% 0 1%;
}

.grid .ipadAir h1 {
  font-size: 40px;
  padding-bottom: 5px;
}

.grid .ipadAir p {
  font-size: 20px;
  color: #4a4a4a;
  padding-bottom: 10px;
}

.grid .ipadAir a {
  font-size: 17px;
  color: #118fde;
  cursor: pointer;
}

.grid .ipadAir a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.grid .ipadAir .image {
  padding-top: 80px;
}

.grid .ipadAir .image img {
  width: 60%;
}

.grid .airpodMax {
  background-color: #f9f9f9;
  display: block;
  padding-top: 60px;
  margin-top: 1%;
}

.grid .airpodMax h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.grid .airpodMax a {
  font-size: 17px;
  color: #118fde;
  cursor: pointer;
}

.grid .airpodMax a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.grid .airpodMax .image {
  padding-top: 40px;
}

.grid .airpodMax .image img {
  width: 35%;
}

.grid .appleTv {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#010101)), url("./Assets/tvos13-smart-tv-apple-tv-app-hero.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #010101), url("./Assets/tvos13-smart-tv-apple-tv-app-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f0f0f0;
  margin: 1% 1% 0 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid .appleTv .text_apple_tv {
  padding-bottom: 40px;
}

.grid .appleTv .text_apple_tv h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.grid .appleTv .text_apple_tv p {
  font-size: 20px;
  width: 55%;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.grid .appleTv .text_apple_tv a {
  padding: 0 18px;
  cursor: pointer;
}

.grid .appleTv .text_apple_tv a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.grid .appleArcade {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0))), url("./Assets/apple_arcade_seven_8424ef4d5a24113df88d176a2f0e3444-xl.jpg");
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)), url("./Assets/apple_arcade_seven_8424ef4d5a24113df88d176a2f0e3444-xl.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f0f0f0;
}

.grid .appleArcade .text_apple_arcade {
  padding-top: 40px;
}

.grid .appleArcade .text_apple_arcade h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.grid .appleArcade .text_apple_arcade p {
  font-size: 20px;
  width: 55%;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.grid .appleArcade .text_apple_arcade a {
  padding: 0 18px;
  cursor: pointer;
}

.grid .appleArcade .text_apple_arcade a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}

.footer {
  background-color: #f9f9f9;
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  color: #ababab;
  font-size: 12px;
}

.footer .rules {
  width: 48%;
}

.footer .rules ol li {
  padding-bottom: 10px;
}

.footer .underline {
  padding-top: 20px;
  width: 48%;
  height: 1px;
  border-bottom: 1px solid #c2c2c2;
}

.footer .other_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
  padding-top: 20px;
}

.footer .other_services li {
  list-style: none;
  padding: 5px 0;
}

.footer .other_services .list_heading {
  color: #6d6d6d;
  font-weight: 700;
}

.footer #retailer {
  width: 48%;
  padding-top: 20px;
}

.footer #retailer a {
  color: #118fde;
}

.footer .copyright {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.footer .copyright .copy {
  width: 60%;
}

.footer .copyright a {
  width: 8%;
}
/*# sourceMappingURL=style.css.map */