@mixin hero() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 73vh;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: rgb(24, 24, 24);
}

html {
  scroll-behavior: smooth;
}

//Navigation section

.header {
  background: rgba(0, 0, 0, 0.82);
  color: rgb(206, 206, 206);
  font-size: 15px;
  display: flex;
  justify-content: center;
  height: 4.5vh;
  position: fixed;
  width: 100%;
  z-index: 99;
  .nav {
    display: flex;
    justify-content: space-around;
    width: 55%;
    height: 4.5vh;
    align-items: center;
    :first-child {
      font-size: 20px;
    }
    li {
      list-style: none;
      cursor: pointer;
      &:hover {
        color: rgb(235, 235, 235);
      }
    }
  }
  .nav2 {
    display: none;
  }
  .mobile_nav {
    #logo {
      display: none;
    }
    #menu {
      display: none;
    }
  }
}

//Hero 1 section
.iphone12 {
  @include hero();
  background-color: rgb(249, 249, 249);
  padding-top: 30px;
  .title {
    padding-top: 45px;
    h1 {
      font-size: 55px;
      padding: 10px;
    }
    p {
      font-size: 25px;
      padding-bottom: 15px;
    }
    a {
      font-size: 19px;
      color: #118fde;
      cursor: pointer;
      &:hover {
        text-decoration: 2px underline;
      }
    }
  }
  .image {
    padding: 10px 0;
    #mobile_view {
      display: none;
    }
    img {
      width: 68%;
    }
  }
}

//Hero 2 section
.iphone12_pro {
  @include hero();
  background-color: black;
  color: rgb(240, 240, 240);
  .title {
    padding-top: 45px;
    h1 {
      font-size: 55px;
      padding: 10px;
    }
    p {
      font-size: 25px;
      padding-bottom: 15px;
    }
    a {
      font-size: 19px;
      color: #118fde;
      cursor: pointer;
      &:hover {
        text-decoration: 2px underline;
      }
    }
  }
  .image {
    padding: 40px 0;
    #mobile_view2 {
      display: none;
    }
    img {
      width: 50%;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      );
    }
  }
}

//hero 3 section

.appleWatch {
  @include hero();
  background-color: black;
  color: rgb(240, 240, 240);
  margin-top: 10px;
  .title {
    padding-top: 45px;
    h1 {
      font-size: 40px;
      letter-spacing: 2px;
      padding: 10px;
    }
    span {
      color: rgb(206, 65, 65);
      font-size: 15px;
    }
    p {
      font-size: 25px;
      padding: 15px;
    }
    a {
      font-size: 19px;
      color: #118fde;
      cursor: pointer;
      &:hover {
        text-decoration: 2px underline;
      }
    }
  }
  .image {
    padding: 40px 0;
    img {
      width: 60%;
    }
  }
}

//Other products/grid section

.grid {
  display: flex;
  flex-wrap: wrap;
  .singleGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60vh;
    width: 48.5%;
    text-align: center;
    padding: 10px;
  }

  //iPad section
  .ipadAir {
    background-color: rgb(249, 249, 249);
    display: block;
    padding-top: 60px;
    margin: 1% 1% 0 1%;
    h1 {
      font-size: 40px;
      padding-bottom: 5px;
    }
    p {
      font-size: 20px;
      color: rgb(74, 74, 74);
      padding-bottom: 10px;
    }
    a {
      font-size: 17px;
      color: #118fde;
      cursor: pointer;
      &:hover {
        text-decoration: 2px underline;
      }
    }
    .image {
      padding-top: 80px;
      img {
        width: 60%;
      }
    }
  }

  //airPod section
  .airpodMax {
    background-color: rgb(249, 249, 249);
    display: block;
    padding-top: 60px;
    margin-top: 1%;
    h1 {
      font-size: 40px;
      padding-bottom: 10px;
    }
    a {
      font-size: 17px;
      color: #118fde;
      cursor: pointer;
      &:hover {
        text-decoration: 2px underline;
      }
    }
    .image {
      padding-top: 40px;
      img {
        width: 35%;
      }
    }
  }

  //Apple tv section
  .appleTv {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(1, 1, 1, 1)
      ),
      url("./Assets/tvos13-smart-tv-apple-tv-app-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(240, 240, 240);
    margin: 1% 1% 0 1%;
    justify-content: space-between;
    .text_apple_tv {
      padding-bottom: 40px;
      h1 {
        font-size: 40px;
        padding-bottom: 10px;
      }
      p {
        font-size: 20px;
        width: 55%;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      a {
        padding: 0 18px;
        cursor: pointer;
        &:hover {
          text-decoration: 2px underline;
        }
      }
    }
  }

  //Apple arcade section
  .appleArcade {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      ),
      url("./Assets/apple_arcade_seven_8424ef4d5a24113df88d176a2f0e3444-xl.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1%;
    justify-content: space-between;
    color: rgb(240, 240, 240);
    .text_apple_arcade {
      padding-top: 40px;
      h1 {
        font-size: 40px;
        padding-bottom: 10px;
      }
      p {
        font-size: 20px;
        width: 55%;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      a {
        padding: 0 18px;
        cursor: pointer;
        &:hover {
          text-decoration: 2px underline;
        }
      }
    }
  }
}

//Footer section

.footer {
  background-color: rgb(249, 249, 249);
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  color: rgb(171, 171, 171);
  font-size: 12px;
  .copyright2 {
    display: none;
  }
  .mobile_services {
    display: none;
  }
  .rules {
    width: 50%;
    ol {
      li {
        padding-bottom: 10px;
      }
    }
  }
  .underline {
    padding-top: 20px;
    width: 50%;
    height: 1px;
    border-bottom: 1px solid rgb(194, 194, 194);
  }
  .other_services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    padding-top: 20px;
    li {
      list-style: none;
      padding: 5px 0;
    }
    .list_heading {
      color: rgb(109, 109, 109);
      font-weight: 700;
    }
  }

  #retailer {
    width: 50%;
    padding-top: 20px;
    a {
      color: #118fde;
    }
  }

  .copyright {
    width: 50%;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    .copy {
      width: 80%;
    }
    span {
      padding: 0 20px;
    }
    a {
      width: 8%;
    }
  }
}

//Web responsiveness section

//notebooks

@media only screen and (max-width: 1366px) {
  //navigation section
  .header {
    .nav {
      width: 80%;
    }
  }
}

//ipad

@media only screen and (max-width: 1024px) {
  //navigation section
  .header {
    .nav {
      width: 100%;
    }
  }

  //hero 1 section
  .iphone12 {
    min-height: 50vh;
    .title {
      padding: 65px 45px 45px 45px;
      h1 {
        font-size: 45px;
      }
    }
  }

  //hero 2 section
  .iphone12_pro {
    min-height: 50vh;
    .title {
      h1 {
        font-size: 45px;
      }
    }
  }

  //hero 3 section
  .appleWatch {
    min-height: 50vh;
    .title {
      h1 {
        font-size: 35px;
      }
    }
  }

  //Other products/grid section

  .grid {
    .singleGrid {
      min-height: 40vh;
    }

    //iPad section
    .ipadAir {
      .image {
        img {
          width: 80%;
        }
      }
    }

    //airPod section
    .airpodMax {
      .image {
        img {
          width: 55%;
        }
      }
    }
  }

  //Footer section

  .footer {
    padding: 20px;
    .rules {
      width: 100%;
    }
    .underline {
      width: 100%;
    }
    .other_services {
      width: 100%;
    }

    #retailer {
      width: 100%;
    }

    .copyright {
      width: 100%;
    }
  }
}

//iphone

@media only screen and (max-width: 767px) {
  //navigation section

  .header {
    height: 5vh;
    .nav {
      display: none;
    }
    .nav2 {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.99);
      width: 100%;
      height: 95vh;
      margin-top: 5vh;
      .search {
        background-color: rgba(70, 70, 70, 0.82);
        margin: 5px;
        height: 5vh;
        border-radius: 10px;
        display: flex;
        align-items: center;
        i {
          font-size: 15px;
          padding: 0 10px;
          color: #cecece;
        }
        input {
          border: none;
          background: transparent;
          font-size: 18px;
        }
      }
      ul {
        width: 78%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
        padding-top: 5px;
        li {
          list-style: none;
          padding: 10px 0;
          font-size: 15px;
        }
      }
      .long {
        padding: 5px;
      }
      .underline {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid rgb(135, 135, 135);
      }
    }
    .mobile_nav {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 10px;
      #logo {
        display: block;
        font-size: 20px;
        z-index: 99;
      }
      #menu {
        display: block;
        width: 48%;
        z-index: 99;
      }
    }
  }

  //Hero 1 section
  .iphone12 {
    min-height: 68vh;
    .title {
      padding-top: 45px;
      h1 {
        font-size: 30px;
        padding: 5px;
      }
      p {
        font-size: 18px;
      }
    }
    .image {
      padding-bottom: 35px;
      #mobile_view {
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
      #desktop_view {
        display: none;
      }
      img {
        width: 85%;
      }
    }
  }

  //Hero 2 section
  .iphone12_pro {
    min-height: 68vh;
    .title {
      padding-top: 45px;
      h1 {
        font-size: 30px;
        padding: 5px;
      }
      p {
        font-size: 18px;
        padding-bottom: 15px;
      }
    }
    .image {
      padding: 0px 0;
      #desktop_view2 {
        display: none;
      }
      #mobile_view2 {
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
      img {
        width: 70%;
      }
    }
  }

  // //hero 3 section

  .appleWatch {
    min-height: 40vh;
    .title {
      padding-top: 25px;
      h1 {
        font-size: 25px;
        padding: 5px;
      }
      span {
        font-size: 10px;
      }
      p {
        font-size: 18px;
      }
    }
    .image {
      padding: 40px 0;
      img {
        width: 55%;
      }
    }
  }

  // //Other products/grid section

  .grid {
    .singleGrid {
      min-height: 65vh;
      width: 100%;
    }

    //   //iPad section
    .ipadAir {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
      }
      .image {
        img {
          width: 90%;
        }
      }
    }

    //   //airPod section
    .airpodMax {
      h1 {
        font-size: 30px;
        padding-bottom: 10px;
      }
      .image {
        img {
          width: 75%;
        }
      }
    }

    //   //Apple tv section
    .appleTv {
      .text_apple_tv {
        padding-bottom: 40px;
        h1 {
          font-size: 30px;
        }
        p {
          width: 80%;
        }
      }
    }

    //   //Apple arcade section
    .appleArcade {
      .text_apple_arcade {
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
          width: 90%;
        }
      }
    }
  }

  // //Footer section

  .footer {
    .mobile_services {
      display: flex;
      width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
        li {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: rgb(97, 97, 97);
          padding-top: 5px;
          font-size: 12px;
        }
      }
    }
    .rules {
      width: 100%;
    }
    .underline {
      padding-top: 20px;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid rgb(194, 194, 194);
    }
    .other_services {
      display: none;
    }

    #retailer {
      width: 100%;
    }

    .copyright {
      display: none;
    }

    .copyright2 {
      display: block;
      padding-top: 20px;
      width: 100%;
      #privacy {
        color: rgb(97, 97, 97);
        padding-top: 5px;
      }
    }
  }
}
